
.nav-background{
    position: absolute;
    top: 0%;
    left: 0%;
}
.logo{
    position: absolute;
    top: 0%;
    left: 0%;
}

.company-name{
    font-family: Oswald;
    font-style: normal;
    font-weight: 100px;
    font-size: 150%;
    position: absolute;
    top: 1%;
    left: 10%;
    color: white;
}

.menu-link{
    font-family: Oswald;
    position: absolute;
    width: 30rem;
    left: 50%;
    top: 5%;
    color: white;

}

.menu-link ul{
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: centre;
}

.connect{
    font-family: Oswald;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 16px;

}


